language: node_js
node_js:
  - '6'
  - '8'
  - '9'
sudo: false
services:
  - docker
before_script:
  - docker build -t mail ./test/fixtures/docker/
  - docker network create --subnet=172.18.0.0/16 docker-test
  - docker run --net docker-test --ip 172.18.0.10 -d mail
  - sleep 15
after_success: npm run coveralls
